src/CONVERT2BINARY/
src/PLY_DATA/
src/PLY_SUPPORT/
src/SPBR_DATA/
src/DOC/

*.vscode
src/*.o
src/*.cc
src/*.txt
src/spbr
src/spbr_ba
src/opbr
src/Makefile*
src/*.sh
src/*.org
src/sopbr
src/*.spbr
*.spbr