src/CONVERT2BINARY/
src/PLY_DATA/
src/PLY_SUPPORT/
src/SPBR_DATA/
src/DOC/

*.vscode
src/*.o
src/*.cc
src/*.txt
src/Makefile*
src/*.sh

src/opbr
src/spbr
src/spbr_ba
src/sopbr
src/*.spbr
src/*.org
src/*.0
src/*.1